<app-navbar></app-navbar>
<div class="bg-white">
    <div class="flex flex-row items-center">
      <!-- Section -->
      <div class="relative isolate px-6 py-14 lg:px-8 w-1/2">
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
          <div class="text-center lg:text-left">
            <h1 class="text-4xl font-bold tracking-tight text-[#004225] sm:text-6xl">Tasty Tales</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">Browse hundreds of recipes in one place.....
                Browse hundreds of recipes in one place.....
                Browse hundreds of recipes in one place.....
                Browse hundreds of recipes in one place.....
                Browse hundreds of recipes in one place.....
            </p>
        
          </div>
        </div>
      </div>
  
      <!-- Right Section -->
      <div class="relative isolate w-1/2">
        <img src="../../../assets/images/about.jpg" alt="Backdrop Image" class="w-3/6 h-screen object-cover">
      </div>
    </div>
  </div>
  