<nav class="bg-white">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-row justify-center align-middle w-full">
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex justify-center space-x-4">
                        <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-[#000000] hover:text-[#03C03C]">Breakfast</a>
                        <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-[#000000] hover:text-[#03C03C]">Lunch</a>
                        <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-[#000000] hover:text-[#03C03C]">Dinner</a>
                        <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-[#000000] hover:text-[#03C03C]">Desert</a>
                        <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-[#000000] hover:text-[#03C03C]">Bevergaes</a>
                        <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-[#000000] hover:text-[#03C03C]">Snacks</a>
                        <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-[#000000] hover:text-[#03C03C]">Pastries</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>
